*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
body{
    background-color: rgb(3, 50, 95);
    color: white;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 500;
}
form{
    text-align: center;
    /* width: 100%; */
}
input{
    width:300px;
    height:50px;
    border:none;
    outline: none;
    padding:20px;
    border-radius: 10px;
    /* width: 300px;
    height: 30px; */
}
button{
    width:120px;
    height:50px;
    border-radius: 10px;
    border:none;

}
.show-result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.inputBtn{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.show-result a {
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}

.show-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.center .second-btn{
    display: block;
    
}
